@font-face {
    font-family: "noto-sans-black";
    src: url(fonts/NotoSansJP-Black.otf);
}

@font-face {
    font-family: "noto-sans-regular";
    src: url(fonts/NotoSansJP-Regular.otf);
}

@font-face {
    font-family: "noto-sans-medium";
    src: url(fonts/NotoSansJP-Medium.otf);
}

body {
    font-family: "noto-sans-regular";
    text-align: center;
    background-color: #f5e8d1;
}

h1 {
    font-family: "noto-sans-black";
}

a {
    text-decoration: none;
    color: black;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.grid-container {
    box-shadow: 0px 0px 10px 1px rgba(15, 27, 38, 0.2);
    display: flex;
    justify-content: center;
}

.active {
    background-color: #0f1b26;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}